/*Responsive design rules*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Body rules*/
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #FFF;
  background-image: url(images/pexels-plants-comp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

/*Title and description rules*/
.header {
  margin: 50px auto;
  max-width: 600px;
  text-align: center;
}

#title {
  display: block;
  font-size: 2em;
  font-family: "Berkshire Swash", cursive;
  color: #FFF;
}

.header > p {
  font-family: "Crimson Text", serif;
  color: #FFF;
  margin: 10px;
}

/*Form rules*/
#survey-form {
  margin: 0 auto;
  padding: 1em;
  max-width: 600px;
  border-radius: 1em;
  background-color: #FFFFFF10;
  backdrop-filter: blur(15px);
}

label, fieldset, input, button, textarea {
  font-family: "Crimson Text", serif;
  font-size: 1.125em;
  color: #FFF;
  margin: 5px auto;
}

#submit {
  color: #000;
}

.form-control {
  display: block;
  width: 100%;
  height: 2.375em;
  padding: 0.5rem;
  background-color: #FFF;
  border: 1px solid #FFF;
  border-radius: 0.25rem;
}

#dropdown {
  font-family: "Crimson Text", serif;
  font-size: 1.125em; 
}

fieldset {
  border: none;
}

.radio-buttons {
  height: 2.375em;
  padding: 0.25rem;
  padding-left: 0;
  font-size: 1.15em;
}

textarea {
  min-height: 200px;
  padding: 0.625rem;
  resize: vertical;
  color: #000;
}

#submit {
  cursor: pointer;
}