/*Responsive design rules*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Body rules*/
body {
  position: fixed;
  background-color: #FFF;
  background-image: url(images/pexels-plants-comp.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

/*Title and description rules*/
.header {
  margin: 50px auto;
  max-width: 600px;
  text-align: center;
}

/*Form rules*/
#survey-form {
  margin: 0 auto;
  padding: 1em;
  max-width: 600px;
  border: 1px solid #CCC;
  border-radius: 1em;
}